.prodNavContainer {
  border: solid 5px transparent;
  border-radius: 40px;
  color: black;
  /* margin: 2% 4% 5%;
  padding: 2px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3); */
}
.prodCatigory {
  display: flex; /* Add this line to make it a flex container */
  flex-direction: column;
  margin: 10px;
}
.catigory-btn {
  color: black;
  text-decoration: none;
  margin-right: 12px;
}
