.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

p {
  line-height: 2;
}
h1,
h2,
h6 {
  color: #a48731;
}

.app-main {
  flex: 1;
}
.footer {
  background-color: #383838;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
